.div-produtos{
    margin-top: 3pc;
}
.lista-produtos{
    max-width: 100px;
    margin: 1pc auto 10px;
    padding: 0 20px;
    min-width: 100%;
    flex-direction: row;
    display: inline-flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
}

.div-load{
    text-align: center;
    height: 39pc;
    height: 0px;
    background-color: #712fda;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #505050 0%, #712fda 100%, #505050 5%);
}
.lista-produtos article{
    background: #FFF;
    border: 1px solid #DDD;
    border-radius: 5px;
    margin: 0px 5px  20px;
    max-width: 20pc;
    padding-bottom: 10px;
}

.lista-produtos article a{
    height: 42px;
    border-radius: 5px;
    border: 1px solid #712fda;
    color: #712fda;
    background: none;
    margin: 10px 10px 0px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: bottom;
}

.lista-produtos article a:hover{
    height: 42px;
    border-radius: 5px;
    border: 2px solid #712fda;
    background: #712fda;
    color: #FFF;
    margin-top: 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.lista-produtos article img{
    color: #FFF;
    height: 15pc;
    width: 20pc;
    display: inline-block;
    border-radius: 0px 0px 5px 5px;
    background: #712fda;
}
.lista-produtos article div{
    display: block;
    margin:10px 15px 10px;
    min-height: 10pc;
}

