*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

body{
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    background: #353535;
    color: rgb(243, 243, 243);
    overflow-x:hidden;
}

.Routes{
    background-color: #a54141;
    padding-left: 1pc;
    height: 100pc;
    width: 100pc;
}
